.social_login
    button
        a(href=routes.github)
            span.social_login_github
                i.fab.fa-github
            |continue with Github
    button
        span.social_login_facebook
            i.fab.fa-facebook
        |continue with Facebook