extends layouts/main

block content
    .form_container
        form(action=routes.changePassword, method="post")
            input(type="password", placeholder="Current Password", name="Current Password")
            input(type="passowrd", placeholder="New Password", name="New Password")
            input(type="passowrd", placeholder="Verify Password", name="Verify Password")
            input(type="submit", value="Change Password")